@using Store.MVC.Models
@using Store.MVC.HtmlHelpers
@model CakeListView 

@{
    ViewBag.Title = "Our Cakes";
}

<h2>Our Cakes</h2>

@foreach (var cake in @Model.Cakes)
{
    <div>
        <h1>@cake.Name</h1>
        <p>@cake.Description</p>
        <h4>@cake.Price$ USD</h4>
    </div>
}
    <div>
        @Html.PageLinks(Model.PagesInfo, x => Url.Action("List", new { page = x }))
    </div>