@model StoreLogic.Entities.ShippingDetails

@{
    /**/

    /**/

    ViewBag.Title = "Форма заказа";
}

<h2>Оформление заказа</h2>
<p>Пожалуйста введите свои данные, чтобы мы могли отправить вам нашу выпечку!</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Данные</h3>
    <div class="form-group">
        <label>Ваше имя</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Адрес доставки</label>
        @Html.TextBoxFor(x => x.Line1, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Город</label>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Страна</label>
        @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
    </div>
    <h3>Опции</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.Gift)
            Использовать подарочную упаковку?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обработать заказ" />
    </div>

}
