@model StoreLogic.Entities.Cake

@{
    ViewBag.Title = "Админ панель: Редактирование Товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Редактирование товара</h2>
    </div>
    @using (Html.BeginForm("Edit", "Admin"))
    {
        <div class="panel-body">
            <div class="container-fluid">

                @Html.HiddenFor(x => x.Id)
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    if (property.PropertyName != "Id")
                    {
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, null,
                               new {@class="form-control", rows = 5 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null,
                               new {@class ="form-control" })
                            }
                        
                        @Html.ValidationMessage(property.PropertyName)

                        </div>
                    }
                }

                <div class="panel-footer">
                    <input type="submit" class="btn btn-success" value="Сохранить" />
                    @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</div>
